{% block body %}
<article>
<h2>{{article.title}} </h2>
<div class="metadata">Edité le {{article.createdata |
date("m/d/Y")}} à {{article.createdata | date("h/i")}}</div>
<div class="content">
<img src="{{article.image}}" alt="">
{{article.content | raw }}
</div>
</article>
{% endblock %}